﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <title>Ana Sayfa | Kişisel Gelisim</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="~/Scripts/html5.js"></script><![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>


</head>
<body>
    
      
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <div class="pull-right" style="width:100%;">
                        <a href="#"><img src="~/Content/img/en.jpg" align="right" style="padding:5px;max-height:25px;" /></a><a href="#"><img src="~/Content/img/tr.png" align="right" style="padding:5px;max-height:25px;" /></a>
                    </div>
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="@Url.Action("Index")"><span class="color-highlight">K</span>isisel Gelisim</a>
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li class="active"><a href="@Url.Action("Index")">AnaSayfa</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kisisel Gelisim <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Beden dili</a></li>
                                    <li><a href="#">Diksiyon</a></li>
                                    <li><a href="#">İnsan İlişkileri</a></li>
                                    <li><a href="#">Özgüven</a></li>
                                    <li><a href="#">Motivasyon</a></li>
                                </ul>
                            </li>
                            <li class="dropdown pull-right">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Basarı <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Nasıl ?</a></li>
                                    <li><a href="#">Basarı Oykulerı</a></li>
                                    
                                </ul>
                            </li>
                            <li><a href="@Url.Action("Ozgurluk")">Ozgurluk</a></li>
                            <li><a href="#">Makale Ekle</a></li>
                            <li><a href="#">Üye Ol</a></li>
                            <li><a href="#">Giris Yap</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
            <footer class="row">
                <div>
                    <div class="span4">
                        <div class="is-padded">
                            <nav>
                                <h2>Navigation</h2>
                                <hr>
                                <ul>
                                    <li><a href="#">ANASAYFA</a></li>
                                    <li><a href="#">KISISEL GELISIM</a></li>
                                    <li><a href="#">BASARI</a></li>
                                    <li><a href="#">OZGURLUK</a></li>
                                    <li><a href="#">MAKALE EKLE</a></li>
                                    <li><a href="#">UYE OL</a></li>
                                    <li><a href="#">GIRIS YAP</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="is-padded">
                            <h2>SON YAZILANLAR</h2>
                            <hr>
                            <a href="#">AwfulMedia</a>
                            <p>This is what my tweet looks like on this website. Tweet tweet. Twitter Twatter.</p>
                            <em>3 days ago</em><br>
                            <br>
                            <a href="#">AwfulMedia</a>
                            <p>This is what my tweet looks like on this website. Tweet tweet. Twitter Twatter.</p>
                            <em>3 days ago</em>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="is-padded">
                            <h2>NEDEN YAZIYORUM ?</h2>
                            <blockquote>
                                <br>
                                <p>Kişisel Gelişimin başlaması için, kişinin kendini tanıması, hangi alanlarda hangi safhada bulunduğunu belirlemesi ve eksik olduğunu düşündüğü alanlarda kendini geliştirmeye karar vermesi, gerekir. Nerede olduğumuzu ve nereye varmak istediğimizi ve varmak istediğimiz yere ulaşmak için nelere ihtiyacımız var diye hayatımızı gözden geçirmemiz gerekir. Bende bloğumla size bu imkanı sunmak istiyorum...</p>
                                <br>
                                <em>- irem Nur Kütük</em>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <p>
                    &copy;2012 Your Company.<br>
                    Design by <a href="http://www.awfulmedia.com">AwfulMedia.com</a>
                </p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

</body>
</html>
