﻿@{
    ViewBag.Title = "Home Page";
}

<h3>G130910048    İREM NUR KÜTÜK</h3>
  <!--Start Carousel-->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/img/featured/psikoloji.jpg" alt="">
            <div class="carousel-caption">
                <h4>Hersey düsüncede baslar !</h4>
                <p>Bütün herşey düşüncede oluşturulur ve düşüncenin yapıcı sürecinin ürünü olarak gelişir.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/img/featured/basari.png" alt="">
            <div class="carousel-caption">
                <h4>Hersey bir adımla baslar !</h4>
                <p>Nereye gittiğini bilen insana yol açmak için, dünya bir kenara çekilir.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="~/Content/img/arrow.png" alt=""></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="~/Content/img/arrow2.png" alt=""></a>
</div>
<!--End Carousel-->
<hr>
<div class="row">
    <div class="span4">
        <h3>Elizabeth Holmes<small><a href="#">Basarı</a></small></h3>
        <a rel="lightbox" href="~/Content/img/soz.jpg"><img src="~/Content/img/soz.jpg" alt=""></a>
    </div>
    <div class="span4">
        <h3>Emma Watson<small><a href="#">Hemen !</a></small></h3>
        <a rel="lightbox" href="~/Content/img/emma.jpg"><img src="~/Content/img/emma.jpg" alt=""></a>
    </div>
    <div class="span4">
        <h2>EN ÖNEMLI SEY SIZSINIZ !</h2>
        <br>
        <blockquote>
            <h3>
                Çünkü parmak izinize kadar farklısınız...Size özel potansiyellere, yeteneklere, algılara, eksikligini hissettiginiz bilgilere ve inançlara sahipsiniz.Kisisel gelisim, isteklerinizi elde etme yolundaki en büyük gücünüz olan ‘’kendini tanıma’’ yolculugudur.
                Düsüncemiz; Kisilik önce bulunmalı ardından gelistirilmelidir.
                Kisisel gelisimde en önemli nokta; Yeniden ve dogru bir sekilde tanımlanmıs bir ‘’Benlik’’ duygusudur.Ardından sahip oldugunuz potansiyelinizi ve bilgilerinizi yeniden sizin başarınız için bir araya getirmektir.
            </h3><br>
            <br>
            <em>- Irem Nur Kütük</em>
        </blockquote>
     
    </div>
</div>
<!--Start second row of columns-->
<hr>
<div class="row">
    <div class="span6 thumb-list">
        <a rel="lightbox" href="~/Content/img/ogrenci.jpg"><img src="~/Content/img/ogrenci.jpg" alt=""></a>
        <h3><a href="#">ÖGRENCİ MOTIVASYONU</a></h3>
        <p>Motivasyon en basit anlamıyla “bir şeyleri yapma arzusudur”. Hedef temelli davranışları başlatan, rehberlik eden ve devam ettiren süreçtir. Motivasyon harekete geçmemizi sağlayan şeydir. Motivasyon, öğrenim sürecindeki kişinin durumunu belirleyen en önemli yöntemlerden biridir.Başarılı bir eğitim için,öğrenci motivasyonu nasıl sağlanır ?</p>
        <a href="#" class="btn">Devamı için</a>
    </div>
    <div class="span6 thumb-list">
        <a rel="lightbox" href="img/zaman.jpg"><img src="~/Content/img/zaman.jpg" alt=""></a>
        <h3><a href="#">ZAMAN YONETIMI</a></h3>
        <p>Çünkü Zaman :
“Asla tasarruf edilemeyen, Biriktirilmesi mümkün olamayan, Kimseden ödünç alınamayan,, Hiçbir şekilde çoğaltılamayan, Defalarca yaşanamayan, Herkes tarafından aynı algılanan bir kavram da olmayan, Sadece harcanan veya kaybedilen vaktimiz ya da varlığımızdır.” Zaman Yönetimi nedir ve neden önemlidir?</p>
        <a href="#" class="btn">Devamı için</a>
    </div>
    </div>
<div class="row">
    <div class="span6 thumb-list">
        <a rel="lightbox" href="img/lider.jpg"><img src="~/Content/img/lider.jpg" alt=""></a>
        <h3><a href="#">LIDERLIK</a></h3>
        <p>Lider olunur mu, Doğulur mu? Herkes lider olabilir mi yoksa liderlik bazı insanlara has bir özellik midir? Bir lider hangi özelliklere sahip olmalıdır ?</p>
        <a href="#" class="btn">Devamı için</a>
    </div>
    <div class="span6 thumb-list">
        <a rel="lightbox" href="img/hedef.jpg"><img src="~/Content/img/hedef.jpg" alt=""></a>
        <h3><a href="#">HEDEF BELIRLEME</a></h3>
        <p>Gideceğiniz yeri bilmiyorsanız, vardığınız yerin bir önemi yoktur. Zirveye çıkan yolda hedef belirlemenin önemi !</p>
        <a href="#" class="btn">Devamı için </a>
    </div>
</div>
<hr>





@section Scripts{
    
    <script type="text/javascript">
$('.carousel').carousel({
  interval: 5000
})
</script>
    
    }