﻿@{
    ViewBag.Title = "Özgürlük";
}

<hr>
<div class="row">
    <div class="span8">
        <div class="well">
            <h1>Ilk adımı atalım..</h1><br><br>


            <p>Bana göre özgürlük: Bir insanın kendi hür iradesini gelenek ve göreneklere, yasalara ve vicdani iradeye dayandırarak, kimsenin hakkına girmeden tüm özgürlükleri kullanma yetisidir.
            <p>Genel çerçeveye bakıldığında, özgürlük insanın hür iradesiyle yaptığı bir haldir. </p>
            <br>
            <p>
                Kavramsal tanımı ile pratikteki uygulama şekli arasında uçurum var.
                “Özgürlükte sınır tanınmaz”, “Özgür kız”, “ Özgürlüğüm için savaşırım”… Gibi birçok söz vardır. Okumuşundan okumamışına kadar özgürlük üzerine söylenen birçok deyiş vardır. Doğru ya da değil, desteklersiniz veya desteklemezsiniz özgürlük, ayağa düşmüş bir kavramdır.
            </p><br>
            <p>
                İnsanlığın var oluşundan bu yana, bu kavram varlığını sürdürmektedir.
                Neyi nasıl kullanacağını bilmeyen biz insanlar, sürekli istemeye odaklanmış durumdayız.
            </p>
            <br>
            <p>
                İstiyoruz; ama ne istediğimizi bilinçli olarak bilmiyoruz.
                Dolayısıyla, toplumda sürekli bir kargaşa ortamı doğmaktadır. En basitinden, alışverişe giden iki çift üzerinden örnekleme yaparsak; biri kırmızı rengi seviyor olsun, diğeri mavi rengi. Çiftlerden biri diğerine ben hür irademi kullanarak mavi rengi tercih ediyorum dese ve diğerine hak tanımasa ne olur?
            </p><br>
            <p>Bir taraf özgürlüğünü kullanmış olur, diğeri ise, teorikte var olan özgürlüğü belli bir güce karşı kullanmamış olur ve iki taraftan birinin gönlü kırılmış olur. </p><br>
            <p>Bunun yerine, iki taraf saygı ve sevgi çerçevesinde ortak bir tercihte bulunmaları, aralarında muhtemel çıkacak kırgınlığın önlenmesine katkı sağlayacaktır. </p><br>
            <p>“Hiç kimsenin benim haklarım ve özgürlüklerim üzerinde; benim de başkalarının özgürlükleri üzerinde hakkım yoktur.” (RİCHARD OVERTON) diyen Overton, aslında meselenin özünü özetlemiş görünüyor. Evet, hiç kimse başka bir kişinin hakkını yeme yetisine sahip değil, olmamalı</p>
            
        </div>
    </div>
    <div class="span4">
        <h3>Önce kafesinizden kurtulun !<small><a href="#">Ozgürlük</a></small></h3>
        <a href="#"><img src="~/Content/img/kafes.jpg" alt=""></a>
        <h3>Siz özgürsünüz !<small><a href="#">Ozgürlük</a></small></h3>
        <a href="#"><img src="~/Content/img/ozgurluk1.jpg" alt=""></a>
    </div>
</div>
<!--Start second row of columns-->
<div class="row">
    <div class="span4">
        <h2>Zihnine müdahale etme !</h2>
        <p>
            Özgürlük dediğin nedir ki? Zihinlerimizin tutsak olup, bedenlerimizin tüm dünyayı gezmesi mi? Bedenlerimizin tutsak olup, kuş gibi gezinebilmesi mi?
            Zihnimiz bizden bağımsız değil mi? Biz nerde olursak olalım, durumumuzne isterse olsun, zihnimizi özgür düşündüğü sürece özgürüz. Kim değiştirebilir ki bir başkasının düşüncelerini. Pek kim bilebilir ki bir inanın zihninden geçenleri.
        </p>
    </div>
    <div class="span4">
        <h2>Düsüncelerinden korkma...</h2>
        <p>
            Çoğu zaman kendi zihnimize bile düşündüklerinen dolayı kızıp, müdahele ediyoruz. Kimsenin bilmediği , bize ait olan düşüncelere.Kendi özgürlüğümüze engel oluyoruz. Hiç düşündük mü neden diye? Öyle çok kurallarla yaşamaya alışmışız ki, kendimize engel koyuyoruz. Özgürce düşünmekten bile korkuyoruz. Belki de düşünüyoruz da, kendimize ile itiraf edemiyoruz.
            İlk endişe ‘Elalem ne der?2 Peki kim bu elalem? Onlar da insan değil mi? Onlar için elalem yok mu? İşte bu nokta , hepimizin takıldığı nokta sanırım.
        </p>
    </div>
    <div class="span4">
        <h2>Herseyi unut ! </h2>
        <p>
            Bırakalım kim ne der endişelerini. Zihinlerimizi hep özgür tutalım ki bedenlerimiz huzur bulsun. Özgür bedenlerin içinde , tutsak zihinler olmayalım. Bulunduğumuz noktada, zaten özgür olduğumuzun farkına varalım. Bizi tek tutsak edebilecek olan,  insanlar ve olaylar değil, zihinlerimizdir. Bunun farkındalığıyla, dünyadaki yıllarımızı gereksiz endişe ve düşuncelerle harcamayalım.
            Özgürlük biz istedikçe vardır, unutmayalım !
        </p>
    </div>
</div>
<hr>